{% comment %}
// Variables for this template:
// urly - this is an urly instance to show (we use code and href properties)
// error_404 - an error message to show the user
// default_href - default href to dump into text area. Why do we have this?
// error_href - set when we have an improperly formatted href
{% endcomment %}

<!DOCTYPE html>
<title>ur.ly - dang short urls</title>
<link rel="stylesheet" href="http://github.com/cheeaun/cacss/raw/master/ca.css">
<link rel="stylesheet" href="static/urly.css">
<script src="static/urly.js"></script>
<div id="container">
  
  <h1><a href="/"><img src="static/urly.gif" alt="ur.ly - dang short urls"></a></h1>

  {% if error_404 or urly or error_href %}
    {% if error_404 %}
      <p class="error">Oops - we couldn't find that urly.</p>
    {% endif %}
    {% if error_href %}
      <p class="error">Oops - that address doesn't look right... we can't create a dang short url from it.</p>
    {% endif %}
    {% if urly %}
      <div class="info">
        <p>{{ urly.href }} is now dang short, and <strong>its already on your clipboard</strong>.</p>
        <p><input type="text" value="http://ur.ly/{{ urly.code }}"></p>
        <script>window.onload = function(){
          copy("http://ur.ly/{{ urly.code }}");
          focus("href");
        };
        </script>
        <p><a href="http://ur.ly/{{ urly.code }}">Try It</a></p>
      </div>
    {% endif %}
  {% endif %}

  <form action="/" method="get" accept-charset="utf-8" id="url-form">
      <label for="url">Enter a long URL below and we'll make it dang short:</label>
      <input name="href" id="url" value="{{ default_href }}" class="text">
      <input type="submit" value="Shorten" class="button">
  </form>

  <p>Drag this link to your browser toolbar: <a href="javascript:location.href='http://ur.ly/new.html?href='+encodeURIComponent(location.href)">ur.ly!</a></p>
  <p><a href="http://code.google.com/p/urly/">Project</a> &middot; <a href="http://code.google.com/p/urly/wiki/APIDocumentation">API</a></p>
  <p><a href="http://code.google.com/appengine/"><img border="0" src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif"></a></p>
  
</div>